.header {
    text-align: center;
    margin-top:30px;
}

#face {
	width: 100px;
}

#fullname {
 	text-transform: uppercase;
    margin-top: 30px;
}

#supporting_text{
	text-align: center;
    margin:auto;
    margin-bottom: 20px;
    font-family: georgia, serif;
    line-height: 1.8;
}

