#header .grid_12 {
    text-align: center;
    margin-top:30px;
}

.face_img {
	width: 100px;
}

.fullname {
 	text-transform: uppercase;
    margin-top: 30px;
}

.supporting_text{
	width:350px;
    margin:auto;
    margin-bottom: 20px;
    font-family: georgia, serif;
    line-height: 1.8;
}

